*{
    padding: 0;
    margin: 0;
    transition: .5s;
}
body{
    background-color: #e8e8e8;
    display: flex;
    flex-wrap: nowrap;
    transition: .5s;
}

.menu{
    background-color:#343a40;
    width: 60px;
    height: 100vh;
    transition: 0.5s;
    overflow: hidden;
    position: relative;
}
.menu:hover{
    width: 200px;
}
.profile{
    color: white;
    margin: 2px;
    display: flex;
    align-items: center;
    gap: 5px;
    overflow: hidden;
}
.profile p{
    font-size: 20px;
    text-transform: capitalize;
}
.menu .img_box{
    margin: 10px;
    width: 40px;
    height:40px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    border: solid white ;
}
.img_box img{
    width: 100%;
}

.menu ul li a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px;
    margin: 7px;
    width:100%;
    border-radius: 10px;
    font-size: 20px;
}

ul{
    list-style: none;
}
.menu ul li a i{
    font-size: 40px;
}

.menu ul li a:hover, th:hover, td:hover , .is_active{
    background-color: black;
}

.logout{
    background-color: red;
    position: absolute;
    bottom: 0;
    width: 100%;
}


.content{
    width: 100%;
    margin-left: 4%;
}
.content .title-info{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.content nav{
    margin-bottom:10px ;
    padding-right: 10px;
    background-color: #fff;
}
.data-info{
    width: 95%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    /* padding: 20px; */
    margin: 20px;
}
.box{
    background-color: #e1e1e1;
    width: 300px;
    height: 150px;
    margin: 20px;
    padding: 10px;
    border-radius:10px;
    /* overflow: hidden; */
}
.data{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    flex-grow: 1;
    border-radius:10px ;
}
.box .settings{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-radius: 0 0 10px 10px;
}

.box i{
    font-size: 25px;
}
.ADD_BOOK{
    height: 100vh;
    background-color: white;
    text-align: center;
   
}
.ADD_BOOK .input{
    background-color: #a8a5a5;
    width: 200px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    margin: 10px;
}
.ADD_BOOK .description{
    background-color: #a8a5a5;
    padding: 20px;
    border: none;
    border-radius: 10px;
    margin: 10px;
}
/* .content nav{
    display: flex;
    flex-wrap: nowrap;
    
} */
.content nav input{
    background-color: #a8a5a5;
    width: 200px;
    padding: 5px;
    align-items: center;
    border: none;
    margin: 0;
}
.content nav button{
    background-color: #a8a5a5;
    /* width: 200px; */
    padding: 5px;
    align-items: center;
    border: none;
    margin: 0;
}
.settings{
    align-items: center;
}
.settings .set_a{
    text-decoration: none; 
    background-color: rgb(78, 78, 244); 
    color: white; 
    padding: 8px; 
    border-radius: 10px;
}
.settings .detail{
    font-size: 20px;
}